<!--<h3>Employee Details</h3>
<div>
    <div>
        <label for=""><b>FirstName :</b></label>{{employee.firstName}}
    </div>
    <div>
        <label for=""><b>LastName :</b></label>{{employee.lastName}}
    </div>
    <div>
        <label for=""><b>EmailId :</b></label>{{employee.emailId}}
    </div>    
</div>-->
<table class="table" style="width: 500px;">
    <thead>
      <tr>
        <th >Employee Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">FirstName :</th>
        <td>{{employee.firstName}}</td>
        
      </tr>
      <tr>
        <th scope="row">LastName :</th>
        <td>{{employee.lastName}}</td>
      </tr>
      <tr>
        <th scope="row">EmailId :</th>
        <td>{{employee.emailId}}</td>
      </tr>
    </tbody>
  </table>